@import 'nullstyle';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';

:root {
    --white: #fff;
    --black: #000;
    --blue: #4f7faf;
    --radii: 12px;
}

.app {
    min-height: 100vh;
    font: var(--font-m);
    color: var(--primary-color);
    background-color: var(--bg-color);
}

.content-page {
    display: flex;
    height: calc(100vh - var(--navbar-height));
}

main {
    flex-grow: 1;
    padding: 20px;
}