@import 'nullstyle';
@import 'variables/global';
@import 'themes/light';
@import 'themes/dark';

.app {
	min-height: 100vh;
	background-color: var(--bg-color);
	font: var(--font-m);
	color: var(--primary-color);
}

.content-page {
	display: flex;
}

main {
	padding: 20px;
	flex-grow: 1;
}