.modal {
    position: fixed;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear;
    inset: 0 0 0 0;
}

.overlay {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
}

.content {
    border-radius: var(--radii);
    padding: 20px;
    max-width: 50%;
    box-shadow: var(--shadow);
    background-color: var(--bg-color);
    transform: scale(0.5);
    transition: transform 0.2s linear;
}

.opened {
    z-index: var(--modal-z-index);
    opacity: 1;
    visibility: visible;
    
    .content {
        transform: scale(1);
    }
}

.closed {
    .content {
        transform: scale(0);
    }
}