.Button {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.clear {
    border: none;
    background-color: transparent;
}

.primary {
    border-radius: var(--radii);
    padding: 10px 15px;
    color: var(--secondary-color);
    background-color: var(--inverted-bg-color);
}

.blue {
    border-radius: var(--radii);
    padding: 10px 15px;
    color: var(--white);
    background-color: var(--blue);
}