.sidebar {
    position: relative;
    padding: 20px;
    width: var(--sidebar-width);
    height: calc(100vh - var(--header-height));
    box-shadow: 0.5px 2px 2px var(--shaodw-color);
    background-color: var(--bg-secondary-color);
    transition: width 0.2s ease-in-out;
}

.sidebar.collapsed {
    width: var(--sidebar-width-collapsed);
}

.switchers {
    position: absolute;
    left: 50%;
    bottom: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    transform: translate(-50%);
}

.icon {
    fill: var(--white);
}
