.notFoundPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: calc(100vh - var(--header-height));
    
    h2 {
        font: var(--font-l);
    }
}