.code {
    position: relative;
    overflow: auto;
    border: 1px solid var(--primary-color);
    padding: 20px;
    background-color: var(--code-bg-color);
}

.copyBtn {
    position: absolute;
    right: 20px;
    top: 20px;
}

.info {
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
}

.info.copied {
    opacity: 1;
    visibility: visible;
}