.app.dark {
    --bg-color: #202c37;
    --inverted-bg-color: #f4f4f4;
    --bg-secondary-color: #2b3945;
    --primary-color: #fefefe;
    --secondary-color: #111517;
    --shadow: rgb(245 245 245 / 20%) 0 0 8px;
    --shaodw-color: rgb(245 245 245 / 20%);
}
