.app.light {
    --bg-color: #f4f4f4;
    --inverted-bg-color: #202c37;
    --bg-secondary-color: #4f7faf;
    --primary-color: #111517;
    --inverted-primary-color: #fefefe;
    --shadow: rgb(0 0 0 / 30%) 0 0 8px;
    --shaodw-color: rgb(0 0 0 / 30%);
}
