body[data-theme='orange'] {
    --bg-color: #faf4fb;
    --inverted-bg-color: #bd5012;
    --bg-secondary-color: #dcabab;
    --inverted-bg-secondary-color: #dcabab;
    --primary-color: #9a1a0e;
    --secondary-color: #d01f0e;
    --inverted-primary-color: #dbd5dc;
    --inverted-secondary-color: #faf4fb;
    --shadow: rgb(100 0 0 / 30%) 0 0 8px;
    --shaodw-color: rgb(100 0 0 / 30%);
}