.navbar {
    padding: 20px;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
}

ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 50px;
}
