.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title {
    min-height: 40px;
}

.btns {
    display: flex;
    align-items: center;
    gap: 20px;
}