.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: var(--header-height);
    box-shadow: var(--shadow);
    background-color: var(--bg-secondary-color);
}