.cardWrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: var(--radii);
    padding: 10px;
    transition: box-shadow 0.2s ease-in-out;
    
    @media (any-hover: hover) {
        &:hover {
            box-shadow: var(--shadow);
        }
    }
}

.cardWrapper.normal {
    background-color: var(--card-bg);
}

.cardWrapper.outline {
    border: 1px solid var(--primary-color);
    background-color: transparent;
}